<%-layout("layouts/boilerplate.ejs") %>
<body>
    <h4 style="color: red;">Specific details for:<b><%= listing.title%></b></h4>
    <div class="row mt-3">
        <div class="card col-6 offset-2">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="chutiya ayush">
            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <p class="card-text"><b>Owner: </b><i><%= listing.owner.username %></i><br><b>Description: </b><%= listing.description %><br>
                <b>Price: </b>&#8377; <%= listing.price.toLocaleString("en-In")%><br>
                <b>Location: </b><%= listing.location %><br>
            <b>Country: </b><%= listing.country %></p>
            </div>
          </div>
        </div> 
    <div class="btns">
        <div class="col-1 offset-2 mb-3">
            <form method="get" action="/listings/<%= listing._id%>/edit">
                <button class="btn btn-edit">Edit</button>
            </form>
        </div>
        <div class="col-1 offset-2 mb-3">
            <form method="post" action="/listings/<%= listing._id%>?_method=delete">
                <button class="btn btn-primary">Delete</button>
            </form>
        </div>  
    </div>
    
        <hr>
        <% if(currUser){%>
        <div class="col-6 offset-2">
            <h4>Review: </h4>
            <form method="post" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation">
              <label class="form-label" for="rate">Rating: </label>
                <fieldset class="starability-slot">
                  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>                
                <br>
              <label for="comment" class="form-label" >Comment</label>
              <textarea name="review[comment]" id="comment" rows="5" cols="10" class="form-control" required placeholder="Rate Us"></textarea>
              <div class="invalid-feedback">fill something please</div>
              <br>
              <button class="btn btn-edit">Submit</button>
            </form>
        </div>
    <hr>
    <% } %>
    <div class="row">
   <% for(review of listing.reviews){ %>
    <div class="card col-5 ms-2 mb-1" >
        <div class="card-body">
          <h5 class="card-title"><%= review.author.username %></h5>
          <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
          <p class="card-text"><%= review.comment %></p>
          
          <form method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=delete">
            <button class=" btn btn-primary">Delete</button>
          </form>
        </div>
      </div>
   <% } %>
</div>
</body>